<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.james.todolist">

    <application
        android:name=".application.TaskListApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.TaskListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.TaskViewerActivity"
            android:label="@string/task_viewer_lable"
            android:parentActivityName=".activities.TaskListActivity" />

        <activity
            android:name=".activities.NewTaskActivity"
            android:label="@string/new_task_label"
            android:parentActivityName=".activities.TaskListActivity"/>

    </application>

</manifest>